*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.com.example.kienz.domaku.User
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
